<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1></h1>
        <form method='post'>
          {% csrf_token %}
          <h2>Are you sure you want to delete {{ list_object.name }} list?</h2>
          {{ form.as_p }}
          <button type='submit'>Delete</button>
        </form>
      </div>
    </main>
  </body>
</html>
