<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create A New List</a>
        </p>
        <p>
          <a href="{% url 'todo_item_create' %}">Create A New Item</a>
        </p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of items</th>
          </thead>
          {% for list in todolist %}
            <tbody>
              <tr>
                <td>
                  <a href="{% url 'todo_list_detail' list.id %}">{{ list }}</a>
                </td>
                <td>{{ list.items.all|length }}</td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </main>
  </body>
</html>
